<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>
<p>
  <strong>E-Mail:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>